
1
rules_version = '2';
2
​
3
service cloud.firestore {
4
  match /databases/{database}/documents {
5
​
6
    // This rule allows anyone with your Firestore database reference to view, edit,
7
    // and delete all data in your Firestore database. It is useful for getting
8
    // started, but it is configured to expire after 30 days because it
9
    // leaves your app open to attackers. At that time, all client
10
    // requests to your Firestore database will be denied.
11
    //
12
    // Make sure to write security rules for your app before that time, or else
13
    // all client requests to your Firestore database will be denied until you Update
14
    // your rules
15
    match /{document=**} {
16
      allow read, write: if request.time < timestamp.date(2024, 3, 4);
17
    }
18
  }
19
}
